@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  list-style-type: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif; }

a {
  background-color: transparent; }

div {
  font-size: 1.5rem; }
  @media screen and (min-width: 480px) {
    div {
      font-size: 1.6rem; } }
  @media screen and (min-width: 640px) {
    div {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1024px) {
    div {
      font-size: 1.7rem; } }
  @media screen and (min-width: 1224px) {
    div {
      font-size: 1.9rem; } }

main {
  display: block; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

li {
  font-size: 1.6rem; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.m-1 {
  margin: 1rem; }

.mx-1 {
  margin: 0 1rem; }

.my-1 {
  margin: 1rem 0; }

.mr-1 {
  margin-right: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.m-2 {
  margin: 2rem; }

.mx-2 {
  margin: 0 2rem; }

.my-2 {
  margin: 2rem 0; }

.mr-2 {
  margin-right: 2rem; }

.mb-2 {
  margin-bottom: 2rem; }

.ml-2 {
  margin-left: 2rem; }

.m-3 {
  margin: 3rem; }

.mx-3 {
  margin: 0 3rem; }

.my-3 {
  margin: 3rem 0; }

.mr-3 {
  margin-right: 3rem; }

.mb-3 {
  margin-bottom: 3rem; }

.ml-3 {
  margin-left: 3rem; }

p {
  font-size: 1.5rem; }
  @media screen and (min-width: 480px) {
    p {
      font-size: 1.6rem; } }
  @media screen and (min-width: 640px) {
    p {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 1.7rem; } }
  @media screen and (min-width: 1224px) {
    p {
      font-size: 1.9rem; } }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 2.3rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.5rem; }

.text-center {
  text-align: center; }

.container {
  max-width: 122rem;
  margin: 0 auto;
  width: calc(100% - 2rem);
  padding: 0 1rem !important; }

.bg-primary {
  background: #73841b; }

.text-white {
  color: #fff; }

.mr1 {
  margin-right: 1rem; }

.gap-1 {
  gap: 1rem; }

.d-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.align-center {
  align-items: center; }

.jsc-sb {
  justify-content: space-between; }

.d-grid {
  display: grid; }

.round-1 {
  border-radius: 1rem; }

.round-2 {
  border-radius: 2rem; }

.round-3 {
  border-radius: 3rem; }

.translate-middle {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.float-left {
  float: left; }

.float-right {
  float: right; }

.star {
  position: absolute;
  left: 0; }

.bottom {
  position: absolute;
  bottom: 0; }

.top {
  position: absolute;
  top: 0; }

.end {
  position: absolute;
  right: 0; }

.img-res {
  width: 100%;
  height: 100%; }

.top-nav {
  height: 4.2rem; }
  .top-nav li {
    cursor: pointer; }

.blink {
  animation: blink 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite; }

@keyframes blink {
  from {
    color: #73841b; }
  to {
    color: #fff; } }

.top-nav li a {
  color: #fff; }

.nav_item li {
  color: #fff;
  display: inline-block; }

.top-nav li {
  padding: 1rem 0.7rem; }

.dropdrown-heandler {
  position: relative;
  transition: all 0.5s ease-in; }

.dropdrown-heandler:hover .dropdrown {
  display: block;
  transition: all 0.5s ease-in; }

.dropdrown-heandler .dropdrown {
  z-index: 2;
  margin-top: 1.1rem;
  position: absolute;
  display: none;
  width: max-content;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 0.3rem 0 #c0c0c0;
  transition: all 0.5s ease-in; }
  .dropdrown-heandler .dropdrown li {
    padding: 0.5rem 0;
    display: block;
    font-size: 1.5rem;
    color: #000; }
    .dropdrown-heandler .dropdrown li:hover {
      color: #73841b; }

input {
  outline: none; }

.midnav {
  height: 6.5rem;
  border-bottom: 0.1rem solid #f4f4f4; }
  .midnav .search {
    position: relative;
    width: 60%; }
    .midnav .search input {
      background: #f4f4f4;
      height: 3.5rem;
      width: 100%;
      padding: 0.4rem 1rem;
      border-radius: 2rem;
      font-size: 1.4rem;
      border: none;
      border: 0.1rem solid transparent;
      transition: all 0.5s ease; }
      .midnav .search input:focus {
        border: 0.1rem solid #73841b; }
    .midnav .search .search-icon {
      background: #f4f4f4;
      top: 0.4rem;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      text-align: center;
      line-height: 3rem;
      position: absolute;
      font-size: 3.4rem;
      right: 1rem; }
  .midnav .icon-notification {
    width: 4rem;
    text-align: center;
    height: 4rem;
    line-height: 4.5rem;
    background: #f4f4f4;
    border-radius: 50%;
    cursor: pointer; }
    .midnav .icon-notification .notification {
      position: relative; }
    .midnav .icon-notification span {
      position: absolute;
      margin-top: -0.2rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      background: #73841b;
      color: #fff;
      margin-left: -0.7rem;
      border-radius: 50%;
      font-size: 1.3rem; }
    .midnav .icon-notification:hover .notification {
      color: #73841b; }

ion-icon {
  font-size: 2rem;
  --ionicon-stroke-width: 4.6rem; }

.navigation {
  height: 6.5rem; }

.mega-item {
  display: inline-flex;
  padding: 0.5em 1em;
  cursor: pointer; }
  .mega-item .icons-down {
    display: inline-block;
    padding-left: 0.3rem; }

.help-icon {
  width: 2.5rem; }

@media (max-width: 768px) {
  .nav_item {
    display: none;
    transition: all 0.5s ease; }
  .nav-icon {
    position: absolute;
    right: 2rem;
    display: block;
    cursor: pointer; }
    .nav-icon .line {
      position: relative;
      width: 3rem;
      height: 0.2rem;
      background: #fff; }
      .nav-icon .line::before, .nav-icon .line::after {
        transition: all 0.5s ease;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #fff; }
      .nav-icon .line.active {
        background: transparent; }
      .nav-icon .line.active::before {
        transform: rotate(45deg); }
      .nav-icon .line.active::after {
        transform: rotate(-45deg); }
      .nav-icon .line::before {
        transform: translateY(-0.8rem); }
      .nav-icon .line::after {
        transform: translateY(0.8rem); }
  .nav_item.active {
    transition: all 0.5s ease;
    z-index: 10;
    top: 4rem;
    left: 0;
    width: 100%;
    text-align: center;
    background: #73841b;
    position: absolute;
    display: block; }
    .nav_item.active li {
      display: block; }
  .dropdrown-heandler .dropdrown {
    width: 100%;
    left: 0;
    z-index: 20; } }
