.top-nav {
  height: $nav-height - 2.3rem;
  & li {
    cursor: pointer;
  }
}
.blink {
  animation: blink 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
@keyframes blink {
  from {
    color: $primary;
  }
  to {
    color: $white;
  }
}
.top-nav li a {
  color: $white;
}
.nav_item {
  & li {
    color: $white;
    display: inline-block;
  }
}
.top-nav li {
  padding: 1rem 0.7rem;
}
.dropdrown-heandler {
  position: relative;
  transition: all 0.5s ease-in;
}
.dropdrown-heandler:hover .dropdrown {
  display: block;
  transition: all 0.5s ease-in;
}
.dropdrown-heandler .dropdrown {
  z-index: 2;
  margin-top: 1.1rem;
  position: absolute;
  display: none;
  width: max-content;
  background: $white;
  padding: 1rem;
  box-shadow: 0 0 0.3rem 0 $gray-400;
  transition: all 0.5s ease-in;
  & li {
    padding: 0.5rem 0;
    display: block;
    font-size: 1.5rem;
    color: $black;
    &:hover {
      color: $primary;
    }
  }
}
input {
  outline: none;
}
// mid-nav-start
.midnav {
  height: $nav-height;
  border-bottom: 0.1rem solid $icon-box;
  & .search {
    position: relative;
    width: 60%;
    & input {
      background: $icon-box;
      height: 3.5rem;
      width: 100%;
      padding: 0.4rem 1rem;
      border-radius: 2rem;
      font-size: 1.4rem;
      border: none;
      border: 0.1rem solid transparent;
      transition: all 0.5s ease;
      &:focus {
        border: 0.1rem solid $primary;
      }
    }
    & .search-icon {
      background: $icon-box;
      top: 0.4rem;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      text-align: center;
      line-height: 3rem;
      position: absolute;
      font-size: 3.4rem;
      right: 1rem;
    }
  }
  .icon-notification {
    width: 4rem;
    text-align: center;
    height: 4rem;
    line-height: 4.5rem;
    background: $icon-box;
    border-radius: 50%;
    cursor: pointer;
    & .notification {
      position: relative;
    }
    & span {
      position: absolute;
      margin-top: -0.2rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      background: $primary;
      color: $white;
      margin-left: -0.7rem;
      border-radius: 50%;
      font-size: 1.3rem;
    }
    &:hover .notification {
      color: $primary;
    }
  }
}
ion-icon {
  font-size: 2rem;
  --ionicon-stroke-width: 4.6rem;
}
// mid-nav-end
